.cache/
auto-save-list/
eln-cache/
elpa/
eshell/
transient/
url/
tree-sitter/
*~
.#.*
ido.last
projectile-bookmarks.eld
projectile.cache
projects
recentf
tramp
.last-package-update-day
srecode-map.el
.emacs.desktop
.org-id-locations
org-roam.db
bookmarks